#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,1
PRODUCTVERSION  1,0,0,1
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "DFT - DartFrogTek"
            VALUE "FileDescription", "Full 32/64-Bit PCI Protocol Support Package for TLA700"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "PCI.dll"
            VALUE "LegalCopyright", "Copyright (C) 2025"
            VALUE "OriginalFilename", "PCI.dll"
            VALUE "ProductName", "PCI Protocol Analyzer"
            VALUE "ProductVersion", "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END